.workout{
    width:70% ;
}


.cart{
    background-color: white;
    height: 20vh;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
   
}
h2{
    margin-bottom: 20px;
}
.storng{
    margin-bottom: 10px;
}
.icon{
    border-radius: 50%;
    background-color: #cccccc;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}